{% extends "base.html" %}
{% load static %}
{% block menu %}

    <li><a href="{% url "poll_update" poll.id %}">Редактировать опрос</a></li>
    <li><a href="{% url "poll_delete" poll.id %}">Удалить  опрос </a></li>
        <li><a href="{% url "poll_choice_add" poll.id %}">Cоздание Ответа </a></li>
            <li><a href="{% url "answer_add" poll.id %}">Cоздание Ответа формой </a></li>


{% endblock menu %}
{% block page_header %}Опрос: {{ poll.id }}{% endblock page_header %}

{% block content %}
    <p> Poll: {{ poll.question }}</p>
    <p>Data: {{ poll.created_at}}</p>

    </br>


    {% for choice in poll.poll.all %}
        <div class="panel">
        <p>Ответ:  <a href="{% url 'view' choice.id %}">{{ choice.text }}</a>
        <button><a href="{% url "delete" choice.id %}">
            <img src="{% static "img/delete.png"  %}
    "width="15" height="15" alt="delete" style="vertical-align: middle"> </a> </button>
            <button><a href="{% url "update" choice.id %}">
            <img src="{% static "img/update.png"  %}
    "width="15" height="15" alt="delete" style="vertical-align: middle"> </a> </button>
        </p><p>
        Опроса: {{ choice.poll.question }}<br/>

        </p>
        </div>
    </br>    </br>
    {% endfor %}
    <a href="{% url "poll_list" %}">Главная страница</a>

{% endblock %}